@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    margin: 0px;
    background-color: #1a1a1a;
}

.homepagepic {

    max-width: 100%;
    height: auto;

}
.imgcontainer {

    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    box-shadow: inset 3px 3px 100px 0 #000000;
    background-image: url("../img/mainFIA.jpg");
    background-size: cover;
}

.overlayingtext{
    font-size: 32px;
    font-weight: bold;
    font-family: 'Titillium Web';
    text-shadow: 0 0 3px #FF0000;
    width: 50%;
    top: 8%;
    left: 25%;
    right: 25%;
    position: relative;
}

.downarrows {

    width: 20px;
    height: 20px;
    bottom: 10px;
    left: 50%;
    position: absolute;
}

.bi-chevron-double-down:hover {

    fill:#b30000;

}