@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0px;
    background-color: #1a1a1a;
}

.homepagepic {

    max-width: 100%;
    height: auto;

}
.imgcontainer {

    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    box-shadow: inset 3px 3px 100px 0 #000000;
    background-image: url("../img/mainFIA.jpg");
    background-size: cover;
    background-position: center top;
}

.overlayingtextbox{

    width: 50%;
    top: 8%;
    left: 25%;
    right: 25%;
    position: relative;


}

@media (max-width: 768px) {
    .overlayingtextbox{
        width: 80%;
        left: 10%;
        right: 10%;
    }
    .overlayingtext {

        font-size: 36px !important;
        line-height: 1.6;

    }
}

.overlayingtext {

    font-size: 48px;
    font-weight: bold;
    font-family: 'Arial';
    color: #b30000;
    text-shadow:  0px 0px 5px #000000;

}

.downarrows {

    width: 20px;
    height: 20px;
    bottom: 30px;
    left: 50%;
    position: absolute;
}

.bi-chevron-double-down{
    fill:#1a1a1a;
}

.bi-chevron-double-down:hover {

    fill:#b30000;
    transform: translate(0,5px);
    cursor: pointer;

}
.fa-envelope:hover {
    cursor: pointer;
}

#mobilebar {
    text-align: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
}

.learnmorebutton {
    font-weight: bold;
    
    margin-top: 20px;
}

.learnmorebutton:hover, .learnmorebutton:active, .learnmorebutton:visited {

    box-shadow: 0 0px 10px 5px #cccccc;
}

.social {
    border-bottom: none !important;
}

.vl {

    height: 30px;
    border-right:none;
    border-top:none;
    border-bottom: none;
    border-left: 1px solid white;
    margin-left: 10px;
    margin-right: 10px;
}



.brocard {
    box-shadow: 0px 1px 10px 1px  #cccccc;

}

.brocard:hover {
    box-shadow: 0px 1px 20px 5px  #b30000;
    cursor: pointer;
    
}

.boxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.brotherimgbackdrop {

    /*background-image: url("../img/dfprofile.jpg");*/
    background-size: cover;
    width: 100%;
    height: 300px;
}


.brotheroverlay {
    width: 100%;
    height: 300px;
    background-color: rgb(179,0,0,0.5);
    
    
}

.Broheader {
    font-family: 'Arial';
    font-size: 96px;
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    text-shadow:  0px 0px 5px white;
}

@media (max-width: 768px) {

    .Broheader {
        font-size: 48px;

    }


}

#aboutheader {
    width:100%;
    height:300px;
    
    
}

#memberheader {
    width: 100%;
    height:300px;

}

.parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

#aboutparallax {
    background-image: url("../img/current_crest.png");
    background-position: center 75%;
    width:100%;
    height:300px;
      
}

#indexparallax {
    background-image: url("../img/current_crest.png");
    background-position: center 75%;
    width:100%;
    height:50vh;
    
}

#memberparallax {
    background-image: url("../img/tabling.jpeg");
    background-position: center 75%;
    width:100%;
    height:300px;
      
}

#indexparallaxoverlay {
    width:100%;
    height:50vh;
    background-color: rgb(179,0,0,0.5);

}

#candidacytext {
    width:750px;
    left:25%;
    top:40%;
    position:relative;
    color:white;
    
}

#candidacytext h2 {
    font-size: 64px;

}
.membershipbutton {
    float:left;
    margin-top:30px;
    margin-left:15px;
    font-weight: bold;
}
.membershipbutton:hover {

    box-shadow: 0 0px 10px 5px #cccccc;

}

@media (max-width: 768px) {

    #candidacytext h2 {
        font-size: 24px;
    
    }

    #candidacytext {
        width:240px;
        left:10%;
        top:40%;
        position:relative;
        color:white;
        
    }

    .membershipbutton {
        float:left;
        margin:0;
        margin-top:10px;
        margin-left:0px;
    }



}

@media (max-width: 992px) {

    #candidacytext h2 {
        font-size: 24px;
    
    }

    .membershipbutton {
        float:left;
        margin-top:0px;
        margin-left:0px;
    }

}


#firstsection {
    width:100%;
    overflow:hidden;
    
}

#firstsectiontext {
    color:white;
    font-size:20px;
    width: 40%;
    margin-top:100px;
    margin-bottom:100px;
    margin-right:50px;
    float:left;
    
    
}

#stepupimg {
    margin:100px;
    width:30%;
    height: auto;
    box-shadow: 0 0px 10px 5px #cccccc;
    float:left;
}

@media (max-width: 992px) {

    #stepupimg {
        margin:50px;
        width:70%;
    }

    #firstsectiontext {
        color:white;
        font-size:20px;
        width: 70%;
        margin:50px;
    }
}

@media (max-width: 768px) {
    #firstsectiontext {
        font-size:16px;
    }
}

#brotherindex {
    
    width:100%;
}

.eboardpic {
    width:200px;
    margin:20px;
    box-shadow: 0 0px 10px 5px #cccccc;
}

#eboardbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.eboardcard {
    color:white;
    width:250px;
    margin:10px;
    overflow: hidden;
}


.meetbrobox {
    width:800px;
    left:35%;
    position:relative;
    margin-bottom:100px;
}

@media (max-width: 768px) {
    .meetbrobox h2 {
        width:200px;
        left:15%;
        font-size:20px;
    }
    .meetbrobox {
        width:200px;
        left:10%;
    }
    .eboardcard {
        color:white;
        width:250px;
        overflow: hidden;
    }
}

.eboardcardtext {
    left:20%;
    position: relative;
}

.meetbrobox h2 {
    width:290px;
    float:left;

}

#brotherindex h1{
    font-size: 64px;
    color:white;
    left:30%;
    position: relative;
    margin-top:150px;
    margin-bottom:100px;
    width:60%;
}

@media (max-width: 768px) {
    #brotherindex h1{
        font-size: 32px;
        left: 15%;
    }


}

.brotherbutton {
    float:left;
    font-weight: bold;
    
}

.brotherbutton:hover {
    box-shadow: 0 0px 10px 5px #cccccc;
   
}

.aboutbody {
    color:white;
    margin-top: 100px;
}

.aboutbody h1 {
    text-shadow:  0px 0px 5px white;
}

.benefitsbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.benefitcard {
    margin:50px;
    color:white;
    box-shadow: 0 0px 10px 5px #cccccc;
}

#membercontactinfo {
    left:35%;
    position:relative;
    width:50%;
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    #membercontactinfo {
        left:10%;
        position:relative;
        width:50%;
        margin-bottom: 100px;
    }

}